<!-- Header -->
<header>
  <nav class="navbar">
    <div class="logo-container">
      <div class="logo">
       <span>QdT</span>
      </div>
      <div class="slogan">تهنى على سيارتك من الطولة للموطور</div>
    </div>

    <div class="nav-buttons">
      {% if app.user %}
        {% if is_granted('ROLE_PROPRIETAIRE') %}
          <button class="btn btn-loginheader"
                onclick="window.location.href='{{ path('app_proprietaire') }}'">
          Dashbord
        </button>
          <button class="btn btn-register"
                  onclick="window.location.href='{{ path('app_logout') }}'">
            Déconnexion
          </button>
        {% endif %}
      {% else %}
        <button class="btn btn-register"
                onclick="window.location.href='{{ path('app_register') }}'">
          S'inscrire
        </button>
        <button class="btn btn-loginheader"
                onclick="window.location.href='{{ path('app_login') }}'">
          Se connecter
        </button>
      {% endif %}
    </div>
  </nav>
</header>
